<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Overview</title>
    <style>
        body {
            display: flex;
        }

        #sidebar {
            width: 200px;
            background-color: #f0f0f0;
            padding: 20px;
        }

        #content {
            flex: 1;
            padding: 20px;
        }
    </style>
</head>

# Groundwater Level Percentage Class is the metrix
# For example: https://dwr.maps.arcgis.com/apps/dashboards/227e4723dec74cc4a0ee7ee6310489b0

# Current Groundwater Level Conditions (report name)

. The dashboard includes a map, summary chart, and indicator, along with various filtering options. Wells displayed in the map and chart are categorized by 

Metric: 
Percentile class is measured by comparing:
- the most recent measurement at that well 
- to the last 10-years of measurements for that month 

A statistical analysis is done to compare the most recent measurement to the previous 10 years of measurements for that location for the same month to determine whether it is above or below normal. Only the most recent measurement at each well is shown in this dashboard